<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group.dev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".app.App"
            android:icon="@color/colorAccent"
            android:targetActivity=".main.MainActivity" />

        <activity android:name=".ui.qmhome.StickyTop2Activity" />
        <activity android:name=".ui.wanandroid.WanMainActivity" />
        <activity android:name=".ui.wanandroid.ArticleListActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.other.UCHomeActivity" />
        <activity android:name=".ui.sticky.StickyTop1Activity" />
        <activity android:name=".ui.other.ClipImageActivity" />
        <activity android:name=".ui.other.RulerActivity" />
        <activity android:name=".ui.clock.ClockActivity" />
        <activity android:name=".ui.other.TestActivity" />
        <activity android:name=".ui.flextag.FlexActivity" />
        <activity android:name=".ui.hook.TargetActivity" />
        <activity android:name=".ui.other.TextActivity" />
        <activity android:name=".ui.decoration_sticky.DecorationStickyActivity" />
        <activity android:name=".ui.tantan.TanTanActivity" />
        <activity android:name=".ui.fish.FishActivity" />
        <activity android:name=".ui.item_swipe.demo.ItemSwipeActivity" />
        <activity android:name=".ui.google_scan.GoogleScanActivity" />
    </application>

</manifest>